<a href="https://colab.research.google.com/github/Hangowoon/AIFEL/blob/main/AIFEL_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%95%B8%EB%93%A4%EB%A7%811.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

라이브러리 불러오기

In [21]:
# 판다스 라이브러리
import pandas as pd

데이터프레임과 시리즈

In [22]:
# 시리즈 만들기(문자열)   메뉴 : '후라이드', '양념치킨', '양반후반'
menu_list = ['후라이드', '양념치킨', '양반후반']
menu = pd.Series(menu_list)
menu

0    후라이드
1    양념치킨
2    양반후반
dtype: object

In [23]:
# 시리즈 만들기(정수형)   가격 : 12000, 13000, 13000
p_list = [12000, 13000, 13000]
price = pd.Series(p_list)
price

0    12000
1    13000
2    13000
dtype: int64

In [24]:
# 시리즈 type 확인
type(price)

pandas.core.series.Series

In [25]:
# 데이터프레임 만들기(시리즈 -> 데이터프레임)
m = pd.DataFrame({
    '메뉴' : menu,
    '가격' : price
})
m

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [26]:
# 데이터프레임 type 확인
type(m)

pandas.core.frame.DataFrame

In [27]:
# 데이터프레임 만들기 pd.DataFrame({"컬럼평" : 데이터})
#data = {
#    "메뉴" : ['후라이드', '양념치킨', '양반후반'],
#    "가격" : [12000, 13000, 13000],
#    "호수" : ['10호', '10호', '9호']
#}
#df = pd.DataFrame(data)
#df

데이터 불러오기 및 저장

In [28]:
# 데이터 생성 : csv파일 (data.csv) 생성
import pandas as pd
data2 = {
    "메뉴" : ['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격" : [12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수" : ['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리" : [100, 1400, 1600, 1800, 1300, 1500, 1300]
}
data2 = pd.DataFrame(data2)
data2.to_csv('modudak.csv', index=False)

In [29]:
# 데이터 불러오기
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [30]:
# 데이터 불러와서 변수에 담기
df = pd.read_csv('modudak.csv')

In [31]:
# 데이터 샘플 확인 : 앞에서 부터 n개 (기본 5개)
df.head()

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300

In [32]:
# 데이터 샘플 확인 :  앞에서 부터 2개 
df.head(2)

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400

In [33]:
# 데이터 샘플 확인 :  뒤에서 부터 n개 (기본 5개)
df.tail()

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [34]:
# 데이터 샘플 확인 : 뒤에서 부터 2개 
df.tail(2)

     메뉴     가격   호수   칼로리
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [35]:
# csv파일로 데이터 저장하기 
df.to_csv('test.csv', index=False)

In [36]:
# 저장된 csv 확인
pd.read_csv('test.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

데이터 선택하기

In [37]:
# 시리즈 선택 (메뉴)
df['메뉴']

0    후라이드
1    양념치킨
2    간장치킨
3    마늘치킨
4      파닭
5     닭강정
6    양반후반
Name: 메뉴, dtype: object

In [38]:
# 데이터프레임 선택 (메뉴, 가격)
df[['메뉴', '가격']]

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  간장치킨  14000
3  마늘치킨  14000
4    파닭  14000
5   닭강정  15000
6  양반후반  13000

In [39]:
# type 확인
type(df[['메뉴', '가격']])

pandas.core.frame.DataFrame

In [40]:
# 행(row) 선택
# 14000원 보다 큰 가격
df['가격'] >= 14000

0    False
1    False
2     True
3     True
4     True
5     True
6    False
Name: 가격, dtype: bool

In [41]:
# 14000월 보다 큰 가격 데이터선택
cond = df['가격'] >= 14000
df[cond]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [42]:
# 조건 2개 이상 일 때 (AND)
# 가격 >= 14000
# 호수 == 9호
cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1 & cond2]

     메뉴     가격  호수   칼로리
2  간장치킨  14000  9호  1600
3  마늘치킨  14000  9호  1800

In [43]:
# 조건 2개 이상 일때 (OR)
df[cond1 | cond2]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [44]:
# isin() 함수 활용 
cond = df['호수'].isin(['9호', '10호'])
df[cond]

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
6  양반후반  13000  10호  1300

인덱싱/슬라이싱

In [45]:
# 데이터 불러오기
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [46]:
# 인텍스명 임의 변경
df['index'] = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
df = df.set_index(keys = ['index'])
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호   100
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [47]:
# loc

# 인덱싱 (행 전체)
# 후라이드
df.loc['a']

메뉴      후라이드
가격     12000
호수       10호
칼로리      100
Name: a, dtype: object

In [48]:
# 슬라이싱 (컬럼 전체)
# 가격 
df.loc[:, '가격']

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [49]:
# 슬라이싱
# 양념치킨 가격
df.loc['b', '가격']

13000

In [50]:
# 슬라이싱
# 간장치킨 메뉴와 가격 
df.loc['c', '메뉴': '가격']

메뉴     간장치킨
가격    14000
Name: c, dtype: object

In [51]:
# 슬라이싱
# 간장치킨 메뉴와 칼로리
df.loc['c', ['메뉴','칼로리']]

메뉴     간장치킨
칼로리    1600
Name: c, dtype: object

In [52]:
# 슬라이싱 
# 양념치킨에서 마늘치킨까지 메뉴와 가격 
df.loc['b':'d', '메뉴':'가격']

         메뉴     가격
index
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000

In [53]:
# iloc
# 데이터 확인
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호   100
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [54]:
# iloc

# 인덱싱 (행 전체)
# 후라이드
df.iloc[0]

메뉴      후라이드
가격     12000
호수       10호
칼로리      100
Name: a, dtype: object

In [55]:
# 슬라이싱 (컬럼 전체)
# 가격
df.iloc[:, 1]

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [56]:
# 슬라이싱
# 간장치킨 메뉴와 가격 
df.iloc[2, 0:2]

메뉴     간장치킨
가격    14000
Name: c, dtype: object

In [57]:
# 슬라이싱 (양념치킨과 간장치킨의 데이터)
df.iloc[1:3, :]

         메뉴     가격   호수   칼로리
index
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600

Index 다루기

In [60]:
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호   100
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [61]:
# set_index
# set_index(keys=[컬럼명])
df = df.set_index(keys=['메뉴'])
df

         가격   호수   칼로리
메뉴
후라이드  12000  10호   100
양념치킨  13000  10호  1400
간장치킨  14000   9호  1600
마늘치킨  14000   9호  1800
파닭    14000  11호  1300
닭강정   15000  12호  1500
양반후반  13000  10호  1300

In [62]:
# loc 슬라이싱
# 양념치킨에서 마늘치킨까지 호수에서 칼로리까지
df.loc['양념치킨':'마늘치킨' , '호수':'칼로리']

       호수   칼로리
메뉴
양념치킨  10호  1400
간장치킨   9호  1600
마늘치킨   9호  1800

In [63]:
# iloc 슬라이싱
# 양념치킨에서 마늘치킨까지 호수에서 칼로리까지
df.iloc[1:4, 1:]

       호수   칼로리
메뉴
양념치킨  10호  1400
간장치킨   9호  1600
마늘치킨   9호  1800

In [66]:
# reset_index
# reset_index(기본값 drop=False)
df.reset_index()

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

행과 열 추가

In [69]:
# 데이터 불러오기
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호   100
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [71]:
# 열(column) 추가
# 할인율 컬럼 추가(값은 0.2)
df['할인율'] = 0.2
df

     메뉴     가격   호수   칼로리  할인율
0  후라이드  12000  10호   100  0.2
1  양념치킨  13000  10호  1400  0.2
2  간장치킨  14000   9호  1600  0.2
3  마늘치킨  14000   9호  1800  0.2
4    파닭  14000  11호  1300  0.2
5   닭강정  15000  12호  1500  0.2
6  양반후반  13000  10호  1300  0.2

In [72]:
# 할인가 컬럼 추가
df['할인가'] = df['가격'] * (1-df['할인율'])
df

     메뉴     가격   호수   칼로리  할인율      할인가
0  후라이드  12000  10호   100  0.2   9600.0
1  양념치킨  13000  10호  1400  0.2  10400.0
2  간장치킨  14000   9호  1600  0.2  11200.0
3  마늘치킨  14000   9호  1800  0.2  11200.0
4    파닭  14000  11호  1300  0.2  11200.0
5   닭강정  15000  12호  1500  0.2  12000.0
6  양반후반  13000  10호  1300  0.2  10400.0

In [73]:
# 결측값으로 추가, 원산지 컬럼을 만들고 결측값(NaN)으로 대입
import numpy as np
df['원산지'] = np.nan
df

     메뉴     가격   호수   칼로리  할인율      할인가  원산지
0  후라이드  12000  10호   100  0.2   9600.0  NaN
1  양념치킨  13000  10호  1400  0.2  10400.0  NaN
2  간장치킨  14000   9호  1600  0.2  11200.0  NaN
3  마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4    파닭  14000  11호  1300  0.2  11200.0  NaN
5   닭강정  15000  12호  1500  0.2  12000.0  NaN
6  양반후반  13000  10호  1300  0.2  10400.0  NaN

In [74]:
# 행(row) 추가
# 리스트 형태로 데이터(행) 추가
aiffel = ['아이펠치킨', 16000, '11호', 100, 0.5, 8000, '국내산']
df.loc['new'] = aiffel
df

        메뉴     가격   호수   칼로리  할인율      할인가  원산지
0     후라이드  12000  10호   100  0.2   9600.0  NaN
1     양념치킨  13000  10호  1400  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4       파닭  14000  11호  1300  0.2  11200.0  NaN
5      닭강정  15000  12호  1500  0.2  12000.0  NaN
6     양반후반  13000  10호  1300  0.2  10400.0  NaN
new  아이펠치킨  16000  11호   100  0.5   8000.0  국내산

In [75]:
from pandas.core.groupby.groupby import F
# 딕셔너리 형태로 데이터(행) 추가
flip = {'메뉴':'풀잎치킨', '가격':10000, '호수':'10호'}
df.loc[8] = flip
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호   100.0  0.2   9600.0  NaN
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  NaN
5      닭강정  15000  12호  1500.0  0.2  12000.0  NaN
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8     풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

값 변경

In [76]:
# 후라이드의 원산지는 '국내산' 값 추가(loc 활용)
df.loc[0, '원산지'] = '국내산'
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호   100.0  0.2   9600.0  국내산
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  NaN
5      닭강정  15000  12호  1500.0  0.2  12000.0  NaN
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8     풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [77]:
# 파닭과 닭강정의 원산지는 '브라질' 값 추가 (iloc 활용)
df.iloc[4, -1] = '브라질'
df.iloc[5, -1] = '브라질'
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호   100.0  0.2   9600.0  국내산
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  브라질
5      닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8     풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [78]:
# replace 활용 (양반후반 -> 양념반후라이드반)
df = df.replace('양반후반', '양념반후라이드반')
df

           메뉴     가격   호수     칼로리  할인율      할인가  원산지
0        후라이드  12000  10호   100.0  0.2   9600.0  국내산
1        양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2        간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3        마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          파닭  14000  11호  1300.0  0.2  11200.0  브라질
5         닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6    양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new     아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8        풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [80]:
# replace 활용 (아이펠치킨 -> [인기]아이펠치킨, 풀잎치킨 -> [베스트]풀잎치킨)
df = df.replace('아이펠치킨','[인기]아이펠치킨').replace('풀잎치킨','[베스트]풀잎치킨')
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0         후라이드  12000  10호   100.0  0.2   9600.0  국내산
1         양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8    [베스트]풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [82]:
# replace, 딕셔너리 활용 (후라이드 -> 황금후라이드, 양념치킨 -> 승일양념치킨)
d = {'후라이드':'황금후라이드', '양념치킨':'승일양념치킨'}
df = df.replace(d)
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0       황금후라이드  12000  10호   100.0  0.2   9600.0  국내산
1       승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8    [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [81]:
# 숫자 변경 : 10000 -> 9900
df = df.replace(10000, 9900)
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0         후라이드  12000  10호   100.0  0.2   9600.0  국내산
1         양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8    [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [83]:
# new_modudak.csv로 저장
df.to_csv('new_modudak.csv')

In [84]:
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0       황금후라이드  12000  10호   100.0  0.2   9600.0  국내산
1       승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호   100.0  0.5   8000.0  국내산
8    [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN